body {
    text-align: center;
    font-family: "Sniglet", sans-serif;
    font-style: normal;
    margin-left: 5%;
    margin-right: 5%;
}

#title {
    cursor: default;
    color: black;
    font-size: 3.5em;
    font-weight: bold;
    text-decoration: none;
    display: block;
}

.menu {
    display: inline-block;
    position: relative;
}

#dropbtn {
    font-size: 2em;
    color: #BBD58E;
    background-color: #344E41;
    border-color: #BBD58E;
    border-style: solid;
    width: 7em;
    height: 2em;
}

.nav {
    display: none;
    position: absolute;
    z-index: 1;
}

.nav button {
    cursor: pointer;
    font-size: 2em;
    color: #BBD58E;
    background-color: #344E41;
    border: 3px solid #BBD58E;
    margin-left: 0.5em;
    width: 6em;
    height: 2em;
    text-decoration: none;
    display: block;
}

.menu:hover .nav {
    display: block;
}

#info {
    vertical-align: middle;
    display: flex;
}

#box {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.blurb {
    font-size: 2.5em;
    display: none;
}

#intro {
    display: block;
}

#kingp, #queenp, #pawnp {
    display: none;
}

@media only screen and (max-width: 600px) {
    #title {
        font-size: 5em;
    }

    .blurb {
        font-size: 3em;
    }
}