body {
    text-align: center;
    font-family: Georgia, serif;
    font-style: normal;
    margin: auto;
}

#title {
    cursor: default;
    color: black;
    font-size: 3.5em;
    font-weight: bold;
    text-decoration: none;
    display: block;
}

.menu {
    display: inline-block;
    position: relative;
}

#dropbtn {
    cursor: pointer;
    font-size: 2em;
    color: #BBD58E;
    background-color: #344E41;
    border: 3px solid #BBD58E;
    width: 7em;
    height: 2em;
}

.nav {
    display: none;
    position: absolute;
    z-index: 1;
}

.nav a {
    cursor: pointer;
    font-size: 2em;
    color: #BBD58E;
    line-height: 1.5em;
    background-color: #344E41;
    border: 3px solid #BBD58E;
    margin-left: 1em;
    margin-top: -2.5px;
    width: 5em;
    height: 1.5em;
    text-decoration: none;
    display: block;
}

.menu:hover .nav {
    display: block;
}

#info {
    vertical-align: middle;
    display: flex;
}

#box {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

img {
    width: 15%;
    height: 30%;
}

.blurb {
    font-size: 2.5em;
}

@media only screen and (max-width: 1000px) {
    body {
        margin-left: 5vw;
        margin-right: 5vw;
    }

    /*#title {
        font-size: 5em;
    }

    .blurb {
        font-size: 3em;
    }*/
}

@media only screen and (min-width: 1000px) {
    body {
        width: 900px;
    }
}